# en linux tuve que correr: sudo apt-get install python3.7-dev para poder instalar 
# el paquete pysptk (https://stackoverflow.com/questions/21530577/fatal-error-python-h-no-such-file-or-directory)
# también hay que usar python3.7 en general

pandas==0.23.4
scipy==1.1.0
Keras==2.2.4
matplotlib==3.0.2
six==1.11.0
numpy==1.15.4
# GPyOpt==1.2.5
# pysptk==0.1.17
python_speech_features==0.6
scikit_learn==0.21.3